# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
aenv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar

# Frontend folder accidentally added
yt_devfolio_app/

# Node
node_modules/
dist/
build/